body {
    font-family: Verdana, Arial, sans-serif;
}

/* OVERALL LAYOUT (HEADER, FOOTER, ETC.) 
 * Based on http://matthewjamestaylor.com/blog/keeping-footers-at-the-bottom-of-the-page
 */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#wholePage {
    min-height: 100%;
    position: relative;
}

header {
    padding: 10px;
}

#pageContent {
    padding: 10px;
    padding-bottom: 45px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35px;
}

#footerInner {
    padding: 10px;
}

header, footer {
    font-size: 15px;
    color: #ffffff;
    background: #47a5f4;
}

/* HEADINGS */

h1 {
    font-size: 20px;
}

/* GRAPH */

#graphMouseOver {
    position: absolute;
    border: 1px solid black;
    background: white;
    padding: 2px;
    font-size: 12px;
}

