{% if not request.is_xhr %}{% extends "base.html" %}{% endif -%}

{% block page_content %}
    <form action="/food/{{ food.id }}/food_tags/edit" method="POST">
        <fieldset>
            {% for tag in tags %}
                <input type="checkbox" name="tag_id" value="{{ tag.id }}" {% if tag in food.food_tags %}checked='checked'{% endif -%}/>{{ tag.name }}<br />
            {% endfor %}
            <input type="submit" id="save" name="save" value="Save" />
        </fieldset>
    </form>
{% endblock %}