{% extends 'base.html' %}

{% block extra_css %}
    <!-- link rel='stylesheet' type='text/css' href='/css/entries.css' /-->
{% endblock %}

{% block page_content %}
    <table>
        <tr>
            <th>Name</th>
            <th>Tags</th>
        </tr>
        {% for food in foods %}
            <tr>
                <td>{{ food.name }}</td>
                {% include 'food_tags_for_food_td.html' %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}


{% block extra_js %}
    <script language='javascript' src='/js/popups.js'></script>
{% endblock %}